<!DOCTYPE html>
<html>
<head>
  <title>SidekiqSchedule</title>
  <%= stylesheet_link_tag    "sidekiq_schedule/application", :media => "all" %>
  <%= javascript_include_tag "sidekiq_schedule/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
